/**CONTACT US PAGE*/

#contact {
  border-right: 1px solid var(--secondary);
  border-left: 1px solid var(--secondary);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--primary);
}

#contact .title {
  color: var(--accent-primary);
  padding: 1rem;
  font-size: 2rem;
  background-color: var(--secondary);
}

.contact-container {
  font-weight: bold;
  height: 700px;
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-container .heading{
  font-size: 1.5rem;
  color: var(--accent-secondary);
}

.form {
  height: 700px;
  width: 100%;
}

.form form {
  padding: 0 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.form input:not([type="radio"]), .form textarea {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 2px solid var(--accent-secondary);
  color: var(--secondary);
}

.radio {
  margin: 10px 0;
}

.radio .input-group {
  padding: 5px;
}

.input-group label {
  cursor: pointer;
}

input[type="radio"],input[type="checkbox"] {
  cursor: pointer;
}

.form textarea {
  resize: none;
  height: 200px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.form button {
  font-family: var(--heading-font);
  background-color: var(--accent-primary);
  color: var(--secondary);
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
  border: 2px solid var(--accent-primary);
  margin-bottom: 1rem;
  cursor: pointer;
}

.info {
  width: 100%;
  text-align: left;
}

.employees {
  text-align: center;
  height: 100%;
  padding: 1rem;
}

.employees h3 {
  text-align: center;
  color: var(--accent-primary);
  font-size: 1.6rem;
  
}

.album p {
  font-size: 0.7rem;
}

.employees .album {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
}

.company {
  text-align: left;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.map {
  padding: 1rem;
}

.company p {
  color: var(--accent-secondary);
  padding: 5px;
}

.accent-primary,.address,.company-info {
  color: var(--accent-primary);
}

.accent-secondary {
  color: var(--accent-secondary);
  opacity: 2;
}
iframe {
  background-color: var(--secondary);
  border: 1px solid var(--accent-secondary);
  color: black;
}