/* home hero */
.home-hero {
  background-image: url('../images/home-hero.webp'); 
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  text-align: center;
  position: relative;
  height: 450px;
}

.home-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: 1;
}

.hero-text {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  bottom: 15px;
  z-index: 2;
  padding: 1em;
  line-height: 2.5em;
}


.home-hero h1 {
    font-size: 2.5em;
    color: var(--accent-primary);
}

.home-hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: var(--accent-secondary);
    font-weight: bold;
}

.cta-button {
    background-color: #F6B80B;
    color: #1C3B70;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.home-hero .cta-button:hover {
    background-color: #e0a409;
}

/* company info */

.company-info.middle-container  {
    background-color: var(--accent-primary);
    color: #FFFFFF;
    padding: 40px 20px;
    text-align: left;
}
.company-info-container {
  display: flex;
  font-size: 1.3em;
  gap: 1em;
  font-weight: bold;
}

.company-info-text {
  padding: 1em;
  background-color: var(--accent-secondary);
}

.company-info.middle-container img {
  height: 100%;
}

.company-info-text p {
  color: var(--secondary);
}

.company-info-text ul li {
  color: var(--secondary);
}

.company-info.middle-container  h2 {
    padding: 0.2em;
    font-size: 1.8em;
    color: var(--accent-primary);
    background-color:  rgba(0, 0, 0, 0.526);  
    margin-bottom: 15px;
}

.company-info.middle-container  p,
.company-info.middle-container  ul {
    font-size: 1em;
    line-height: 1.5;
}
.company-info.middle-container  ul {
    list-style-type: disc;
    margin-left: 20px;
}

.form-container {
  margin-top: 1em;
  text-align: right;
}

.form-container p {
  font-size: 1.4em;
  color: var(--secondary);
}


.newsletter-signup {
    background-color: var(--accent-secondary);
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.newsletter-signup h2 {
    color:var(--secondary);
    font-size: 1.8em;
}
.newsletter-signup h2 {
    color:var(--secondary);
    font-size: 1.8em;
}

.newsletter-signup form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.newsletter-signup label {
    font-size: 1em;
    color:var(--secondary);
    text-align: left;
}

.newsletter-signup input[type="text"],
.newsletter-signup input[type="email"] {
    padding: 0.8em;
    border: 1px solid var(--secondary);
    border-radius: 4px;
    font-size: 1em;
}

.newsletter-signup button {
    background-color: var(--accent-primary);
    color: var(--secondary);
    font-weight: bold;
    padding: 0.8em;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer; 
    transition: transform 0.1s ease;
}

.newsletter-signup button:hover {
    transform: scale(0.95);
}

.gallery {
    padding: 40px 80px;
    background-color: var(--accent-secondary);
    text-align: center;
}

.gallery h2 {
    font-size: 2em;
    color: var(--accent-primary);
    background-color: rgba(0, 0, 0, 0.567);
    padding: 0.3em;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.gallery-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.gallery {
    text-align: center;
    padding: 2em;
}

.gallery p {
    color: var(--secondary);
    font-size: 1.5em;
    margin-bottom: 1em; 
    font-weight: bold;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
}

.gallery-item {
    background-color: rgba(34, 34, 34, 0.8); /* Assuming var(--extra) is a dark color */
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.gallery-item img {
    width: 100%;
    border-radius: 8px;
}

.gallery-item p {
    color: var(--accent-secondary);
    font-weight: bold;
    padding: .5em;
    font-size: 1.4em;
    margin-top: 0.5em;
}
