:root {
  --primary: #219EBC;
  --secondary: #023047;
  --accent-primary: #FFB703;
  --accent-secondary: #FB8500;
  --extra: #8ECAE6;
  --heading-font: 'Raleway', sans-serif; 
  --body-font: 'Open Sans', sans-serif;
}

/* general */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1024px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font); 
  color: var(--primary);
}

body, p, span, a {
  font-family: var(--body-font); 
  color: var(--secondary);
}

a {
  text-decoration: none;
}

/* header */
  
header {
  display: grid;
  background-color: var(--extra);
  border: 1px solid var(--secondary);
  grid-template-columns: 1fr 1fr ;
  align-items: center;
  padding: 0 20px;

}

header img {
  padding: 15px;
  height: 95%;
}

header nav {
  display: flex;
}

header nav a {
  border: 1px solid var(--secondary);
  background-color: var(--accent-primary);
  color: var(--secondary);
  padding: 5px 25px;
  font-weight: bold;
}
header nav a:hover {
  background-color: var(--accent-secondary);
}

header nav a:nth-child(2),
header nav a:nth-child(3) {
border-left: 0;
}
header nav a:nth-child(3) {
  border-right: 0;
}

/* hero */
.hero {
  position: relative;
  border:  1px solid var(--secondary);
  border-bottom: 0px;
}

.hero>img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 15%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 400;
}

.hero article {
  position: absolute;
  top: 45%; 
  transform: translate(-50%, -50%); 
  left: 50%;
  width:80%;
  background-color: rgba(2, 48, 71, 0.6); ; /*var(--primary) in rgba to add opacity*/
}

.hero article p {
  color: var(--accent-primary);
  font-weight: bold;
}

.hero article img {
  float: right;
  padding: 20px;
}

/* history section */
#history {
  background-color: var(--accent-primary);
  border: 1px solid var(--secondary);
  border-bottom: 0;
  border-top: 0;
  padding: 20px;
}

#history .container {
  display: flex;
  font-size: 1rem;
}

#history h2 {
  background-color: rgba(255, 145, 0, 0.495);
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 2px;
  width: 100%;
  color: var(--secondary);
  text-align: center;
}

#history img {
  width: 50%;
  height: auto;
  padding: 10px 20px;
}

/* adventure section */
#adventure {
  background-color: var(--primary);
  border: 1px solid var(--secondary);
  border-bottom: 0;
  border-top: 0;
  padding: 20px 10px;
}

#adventure .container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#adventure figure {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#adventure figcaption {
  font-weight: bold;
  text-shadow: 1px 1px 0px black;
  background-color: rgba(2, 48, 71, 0.071);
  color: var(--accent-primary);
}

#adventure h2 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  background-color: rgba(2, 48, 71, 0.6);
  color: var(--accent-primary);
}

/* footer */
footer {
  display: grid;
  place-items: center;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--extra);
  color: var(--secondary);
  padding: 10px 20px;
  border: 1px solid var(--secondary);
  border-top: 0;
}

footer p {
  grid-column:2;
  font-weight: bold;
  white-space: nowrap;
}

.social-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.social-links img {
  max-width: 20px;
}

/**CONTACT US PAGE*/

#contact {
  border-right: 1px solid var(--secondary);
  border-left: 1px solid var(--secondary);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--primary);
}

#contact .title {
  color: var(--accent-primary);
  padding: 1rem;
  font-size: 2rem;
  background-color: var(--secondary);
}

.contact-container {
  font-weight: bold;
  height: 700px;
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-container .heading{
  font-size: 1.5rem;
  color: var(--accent-secondary);
}

.form {
  height: 700px;
  width: 100%;
}

.form form {
  padding: 0 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.form input:not([type="radio"]), .form textarea {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 2px solid var(--accent-primary);
  color: var(--secondary);
}

.radio {
  margin: 10px 0;
}

.radio .input-group {
  padding: 5px;
}

.input-group label {
  cursor: pointer;
}

input[type="radio"],input[type="checkbox"] {
  cursor: pointer;
}

.form textarea {
  resize: none;
  height: 200px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.form button {
  font-family: var(--heading-font);
  background-color: var(--accent-primary);
  color: var(--secondary);
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
  border: 2px solid var(--accent-primary);
  margin-bottom: 1rem;
  cursor: pointer;
}

.info {
  width: 100%;
  text-align: left;
}

.employees {
  text-align: center;
  height: 100%;
  padding: 1rem;
}

.employees h3 {
  text-align: center;
  color: var(--accent-primary);
  font-size: 1.6rem;
  
}

.album p {
  font-size: 0.7rem;
}

.employees .album {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
}

.company {
  text-align: left;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.map {
  padding: 1rem;
}

.company p {
  color: var(--accent-secondary);
  padding: 5px;
}

.company-info {
  color: var(--accent-primary);
}

.address {
  color: var(--accent-primary);
}

.accent-primary {
  color: var(--accent-primary);
}

.accent-secondary {
  color: var(--accent-secondary);
}

.padding-1 {
  padding: 1rem;
}