@import url('about.css');
@import url('contact.css');
@import url("home.css");
@import url('trips.css');
:root {
  --primary: #219EBC;
  --secondary: #023047;
  --accent-primary: #FFB703;
  --accent-secondary: #FB8500;
  --extra: #8ECAE6;
  --heading-font: 'Raleway', sans-serif; 
  --body-font: 'Open Sans', sans-serif;
}

/* general */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1260px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font); 
  color: var(--primary);
}

body, p, span, a {
  font-family: var(--body-font); 
  color: var(--secondary);
}

a {
  text-decoration: none;
}

/* header */
  
header {
  display: grid;
  background-color: var(--extra);
  border: 1px solid var(--secondary);
  grid-template-columns: 1fr 1fr ;
  align-items: center;
  padding: 0 20px;

}

header img {
  padding: 15px;
  height: 95%;
}

header nav {
  display: flex;
}

header nav a {
  border: 1px solid var(--secondary);
  background-color: var(--accent-primary);
  color: var(--secondary);
  padding: 5px 25px;
  font-weight: bold;
}
header nav a:hover {
  background-color: var(--accent-secondary);
}

header nav a:nth-child(2),
header nav a:nth-child(3) {
border-left: 0;
}
header nav a:nth-child(3) {
  border-right: 0;
}


/* footer */
footer {
  display: grid;
  place-items: center;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--extra);
  color: var(--secondary);
  padding: 10px 20px;
  border: 1px solid var(--secondary);
  border-top: 0;
}

footer p {
  grid-column:2;
  font-weight: bold;
  white-space: nowrap;
}

.social-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.social-links img {
  max-width: 20px;
}

/* customs */

.middle-container {
    border-right: 1px solid var(--secondary);
  border-left:  1px solid var(--secondary);
}

.padding-1 {
  padding: 1rem;
}
